{% extends 'base.html' %} {% load static %} {% block content %}


<div class="row justify-content-center">
    <div class="col-md-8 col-lg-8">

        <h2 class="heading-text">Create Your Account</h2>

        <form method="post" class="">
            {% csrf_token %}

            <div class="row mt-3 mb-3">
                <div class="col-6">
                    <div class="form-group">
                        <label for="{{ form.first_name.id_for_label }}" class="black-text">First Name</label>
                        <input type="text" name="first_name" class="form-control" placeholder="Enter your first name" required id="{{ form.first_name.id_for_label }}" value="{{ form.first_name.value|default:'' }}"> {% if form.first_name.errors %}
                        <div class="small-black-text">{{ form.first_name.errors }}</div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="{{ form.last_name.id_for_label }}" class="black-text">Last Name</label>
                        <input type="text" name="last_name" class="form-control" placeholder="Enter your last name" required id="{{ form.last_name.id_for_label }}" value="{{ form.last_name.value|default:'' }}"> {% if form.last_name.errors %}
                        <div class="small-black-text">{{ form.last_name.errors }}</div>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="row mt-3 mb-3">
                <div class="col-6">
                    <div class="form-group">
                        <label for="{{ form.username.id_for_label }}" class="black-text">Username</label>
                        <input type="text" name="username" class="form-control" placeholder="Pick a unique username" required id="{{ form.username.id_for_label }}" value="{{ form.username.value|default:'' }}"> {% if form.username.errors %}
                        <div class="small-black-text">{{ form.username.errors }}</div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="{{ form.email.id_for_label }}" class="black-text">Email Address</label>
                        <input type="email" name="email" class="form-control" placeholder="Enter your email" required id="{{ form.email.id_for_label }}" value="{{ form.email.value|default:'' }}"> {% if form.email.errors %}
                        <div class="small-black-text">{{ form.email.errors }}</div>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="row mt-3 mb-3">
                <div class="col-6">
                    <div class="form-group">
                        <label for="{{ form.password1.id_for_label }}" class="black-text">Create Password</label>
                        <input type="password" name="password1" class="form-control" placeholder="Enter any password you want" required id="{{ form.password1.id_for_label }}"> {% if form.password1.errors %}
                        <div class="small-black-text">{{ form.password1.errors }}</div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="{{ form.password2.id_for_label }}" class="black-text">Confirm Password</label>
                        <input type="password" name="password2" class="form-control" placeholder="Enter the same password again" required id="{{ form.password2.id_for_label }}"> {% if form.password2.errors %}
                        <div class="small-black-text">{{ form.password2.errors }}</div>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="mt-4">
                <button type="submit" class="btn bttn-green">Sign Up</button>
            </div>

        </form>

        <div class="mt-4">
            <p class="mb-0 black-text">Already have an account? <a href="{% url 'accounts:login' %}" class="green-link-text">Log In here</a></p>
        </div>
    </div>
</div>
{% endblock %}