{% extends 'base.html' %} {% load static %} {% block content %}


<div class="row justify-content-center">
    <div class="col-md-8 col-lg-8">

        <!-- Stats  -->
        <div class="bottom-border pb-3">
            <div class="d-flex justify-content-between align-items-center mb-2">
                <div>
                    <h2 class="heading-text mb-0">Archives - Completed Tasks</h2>
                    <p class="gray-text mb-0 mt-1">Total Completed Tasks: <span class="black-text">{{ total_completed }}</span></p>
                </div>

                {% if total_completed > 0 %}
                <div>
                    <form action="{% url 'tasks:delete_all_archived' %}" method="post" class="mb-0">
                        {% csrf_token %}
                        <button type="submit" class="btn bttn-black">Delete All Completed Tasks</button>
                    </form>
                </div>
                {% endif %}
            </div>
        </div>


        {% for task in completed_tasks %}
        <div class="card task-card mb-4">
            <div class="card-body">
                <div class="bottom-border" style="margin-bottom: 12px!important;">
                    <h3 class="sub-heading-text">{{ task.title }}</h3>

                    <p class="gray-text mb-2">Category:<span class="black-text me-2"> {{ task.category.name }}</span></p>

                    {% if task.description %}
                    <p class="gray-text mb-2">{{ task.description }}</p>
                    {% endif %}

                    <p class="gray-text">
                        Due:<span class="black-text me-2"> {{ task.due_date }}</span> Priority:
                        <span class="black-text me-2"> {{ task.get_priority_display }}</span>
                    </p>
                </div>


                <div class="mt-1">
                    <div class="d-flex justify-content-between align-items-center">
                        <a href="{% url 'tasks:delete_archived_task' task.pk %}" class="black-link-text">Delete Permanently</a>
                    </div>
                </div>


            </div>
        </div>

        {% empty %}

        <p class="gray-text">No completed tasks yet. Complete some tasks to see them here!</p>
        {% endfor %}


    </div>
</div>





<!-- Pagination -->
{% if is_paginated %}
<div style="margin-top: 20px;">
    {% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}">Previous</a> {% endif %}

    <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span> {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">Next</a> {% endif %}
</div>
{% endif %} {% endblock %}