{% extends 'base.html' %} {% load static %} {% block content %}

<div class="row justify-content-center">

    <div class="col-md-8 col-lg-8">
        <h2 class="heading-text mb-3">Delete "{{ object.name }}"?</h2>

        <p class="sub-heading-text mb-2">Are you sure you want to delete the category "{{ object.name }}"?</p>
        <p class="gray-text mb-4">This will also delete all <span class="black-text">{{ object.tasks.count }}</span> tasks in this category. This action cannot be undone.</p>

        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn bttn-black me-2">Yes, Delete</button>
            <a href="{% url 'tasks:category_list' %}" class="black-link-text">Cancel</a>
        </form>

    </div>
</div>

{% endblock %}