{% extends 'base.html' %} {% load static %} {% block content %}


<div class="row justify-content-center">
    <div class="col-md-8 col-lg-8">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h2 class="heading-text">Your Categories ({{ total_categories }})</h2>
            <a class="btn bttn-green" href="{% url 'tasks:category_create' %}">Add New Category</a>
        </div>

        {% for category in categories %}
        <div class="bottom-border pb-3 mb-3">
            <div class="d-flex justify-content-between align-items-center">
                <div class="pb-2">
                    <h3 class="sub-heading-text">{{ category.name }}</h3>
                </div>

                <div>
                    <a href="{% url 'tasks:category_detail' category.pk %}" class="black-link-text me-2">View Tasks</a>
                    <a href="{% url 'tasks:category_update' category.pk %}" class="black-link-text me-2">Edit</a>
                    <a href="{% url 'tasks:category_delete' category.pk %}" class="black-link-text">Delete</a>
                </div>
            </div>
            <p class="gray-text mb-0">
                Total Tasks:<span class="black-text me-2"> {{ category.total_tasks }}</span> Pending: <span class="black-text me-2"> {{ category.pending_tasks }}</span> Completed: <span class="black-text"> {{ category.completed_tasks }}</span>
            </p>
        </div>
        {% empty %}

        <div class="mt-4">
            <p class="gray-text mb-1">No categories yet. </p>
            <a href="{% url 'tasks:category_create' %}" class="green-link-text">Add your first category!</a>
        </div>

        {% endfor %}



    </div>
</div>


{% endblock %}